* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: 'Arial', sans-serif;
}

header nav {
    background-color: #0a2d4d;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.logo-group a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo-icon {
    height: 30px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 0px;
    align-items: center;
}

#main-nohover{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 17px 15px;
}

.navi {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 20px 15px;
}

.navi:hover{
    background-color: hsl(349, 86%, 63%);
    color: black;
    background-size: contain;
    
}

.hero-content {
    position: relative;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('home2.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.hero-content::before,
.hero-content::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.hero-content::before {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('home1.jpg');
    animation: fade1 12s infinite;
}

.hero-content::after {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('home.jpg');
    animation: fade2 12s infinite;
}

@keyframes fade1 {
    0%, 25% { opacity: 1; }
    33%, 92% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade2 {
    0%, 25% { opacity: 0; }
    33%, 58% { opacity: 1; }
    66%, 100% { opacity: 0; }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
    
}

.hero-content h1 {
    font-size: 3rem;
    text-transform: uppercase;
   
}


.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.button-explore {
    display: inline-block;
    padding: 12px 30px;
    background-color: #f24e6c;
    border-radius: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    
}

.massage-para p {
    font-size: larger;
    text-align: center;
    margin: 3% 10%;
    font-weight: bold;
}

#step-massage{
    padding: 5% 0% 2%;
}

.bottom-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 4%;
    gap: 4%;
}

.steps-container {
    margin: 3% 1% 5% 5%;
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 15px;
    row-gap: 4px;
}

.steps-container .number {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    border: black solid 2px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    font-weight: bolder;
}

.steps-container h4 {
    grid-column: 2;
    grid-row: 1;
    text-transform: uppercase;
    margin: 0;
    align-self: end;
}

.steps-container p {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    align-self: start; 
}


#book-button {
    padding: 12px 30px;
    background-color: hsla(20, 82%, 48%, 0.904);
    border-radius: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 10px auto; 
}

footer {
    background-color: #0a2d4d;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
}

